/* index */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/*Pc grid*/
#grid-container {
    width: 100%;
    display: grid;

    grid-template-areas:
        'headerTag  headerTag   headerTag'
        'navTag     navTag      navTag'
        'videoTag   videoTag    videoTag'
        'stelvioTag stelvioTag  asideTag'
        'oostenrijkTag oostenrijkTag  asideTag'
        'duitslandTag duitslandTag  asideTag'
        'footerTag  footerTag   cookieTag';
}    

#grid-container-best {
            width: 100%;
            display: grid;
        
            grid-template-areas:
                'headerTag          headerTag           headerTag'
                'navTag             navTag              navTag'        
                'destination2Tag    destination1Tag     destination3Tag'
                'destination5Tag    destination1Tag     destination4Tag'
                'destination5Tag    destination6Tag     destination6Tag' 
                'asidebestTag       asidebestTag        asidebestTag'
                'footerTag          footerTag           cookieTag';    
        }

 #grid-container-tickets {
            width: 100%;
            display: grid;
        
            grid-template-areas:
                'headerTag          headerTag           headerTag'
                'navTag             navTag              navTag'        
                'destination2Tag    destination1Tag     destination3Tag'
                'destination5Tag    destination1Tag     destination4Tag'
                'destination5Tag    destination6Tag     destination6Tag' 
                'asidebestTag       asidebestTag        asidebestTag'
                'footerTag          footerTag           cookieTag';    
        }

/* PC MEDIA */
@media (min-width: 1180px) {        
            
 video {
    width: 320px;
    height: 240px;
}
        
figure>figcaption {
    float: right;
    clear: both;
}        
}

/*tablet*/
@media (min-width: 481px) and (max-width: 1179px) {
      
    .articleImage{
        position: relative;
        float: left;
    }

    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   headerTag'
            'navTag     navTag      navTag'
            'asidetag   asideTag    asideTag'
            'videoTag   videoTag    videoTag'
            'duitslandTag duitslandTag  duitslandTag'
            'oostenrijkTag oostenrijkTag  oostenrijkTag'
            'stelvioTag stelvioTag  stelvioTag'
            'footerTag  footerTag   cookieTag';
    }

    #grid-container-best {                  
        grid-template-areas:
            'headerTag          headerTag           headerTag           headerTag'
            'navTag             navTag              navTag              navTag'
            'destination1Tag    destination1Tag     destination2Tag     destination2Tag'
            'destination1Tag    destination1Tag     destination2Tag     destination2Tag'
            'destination3Tag    destination3Tag     destination2Tag     destination2Tag'
            'destination3Tag    destination3Tag     destination5Tag     destination5Tag'
            'destination3Tag    destination3Tag     destination5Tag     destination5Tag'            
            'destination3Tag    destination3Tag     destination5Tag     destination5Tag'
            'destination6Tag    destination6Tag     destination6Tag     destination6Tag'
            'destination6Tag    destination6Tag     destination6Tag     destination6Tag'
            'asidebestTag       asidebestTag        asidebestTag        asidebestTag'
            'asidebestTag       asidebestTag        asidebestTag        asidebestTag'
            'footerTag          footerTag           coockieTag          coockieTag'
            'footerTag          footerTag           coockieTag          coockieTag';
    }
#grid-container-tickets {
        width: 100%;
        display: grid;
    
        grid-template-areas:
            'headerTag          headerTag           headerTag'
            'navTag             navTag              navTag'        
            'destination2Tag    destination1Tag     destination3Tag'
            'destination5Tag    destination1Tag     destination4Tag'
            'destination5Tag    destination6Tag     destination6Tag' 
            'asidebestTag       asidebestTag        asidebestTag'
            'footerTag          footerTag           cookieTag';    
    }
    #asideimage3{
        display: none;
    }
    #asideimage2{
        position: relative;
        float: right;
        left: 15px;
        top: -290px;
    }
    #destination4{
        display: none;
    }
    #asidebest{
        height: 300px;
    }
    #cookieStatement{
        position: relative;
        right: 0;
        bottom: 0;
        width: 100px;
    }
      
}


/*mobile*/
@media screen and (max-width: 481px) {    

    #grid-container {
        grid-template-areas:
            'headerTag  headerTag   navTag'
            'asidetag   asideTag    asideTag'            
            'duitslandTag duitslandTag  duitslandTag'
            'oostenrijkTag oostenrijkTag  oostenrijkTag'
            'stelvioTag stelvioTag  stelvioTag'
            'footerTag  footerTag   cookieTag';
    }
	
	#hamitems a {
		box-sizing: border-box;
		display: block;
		width: 50%;
		border-top: 1px solid #333;
	}
  
	#hamnav label { 
		display: inline-block; 
		color: white;
		background: #a02620;
		font-style: normal;
		font-size: 1.2em;
		padding: 10px;
	}    

	#hamitems { 
		display: none; 
	}
	
	#hamnav input:checked ~ #hamitems { 
		display: block; 
	}

    video{
        display: none;
    }

    #logo {
        display: none;
    }
}


.selectednav{
    background-color: #2bff00;
}

/*Hamburger PC screen*/
#hamnav {
  width: 100%;
  background: rgb(204, 18, 18);  
}

#hamitems { 
    display: flex; 
}

#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: rgb(3, 0, 0);
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { 
background: #2bff00; 
}

#hamnav label, #hamburger { 
display: none; 
}
/* */

#Homeheader{
    background-color: #5ccc00;    
}

nav {
    background-color: #22cc00;
    grid-area: navTag;
}

#video {
    background-color: #ad48ff;
    grid-area: videoTag;
}

#articlestelvio {
    background-color: #abe95b;
    grid-area: stelvioTag;
}

#articleOostenrijk {
    background-color: #8381ff;
    grid-area: oostenrijkTag;
}

#articleDuitsland {
    background-color: #ff7cd8;
    grid-area: duitslandTag;
}

#asideHome {
    background-color: #ff0000;
    width: 30em;
    padding: 50px;
    float: left;
    grid-area: asideTag;
}

#footer {
    background-color: #ff9204;
    grid-area: footerTag;
}

#cookieStatement {
    background-color: #ff6600;
    grid-area: cookieTag;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 30vw;
    color: #fff;
    opacity: 50%;
}

#logo {
    width: 100px;
}

article {
    padding: 30px;
}

.articleImage {
    width: 400px;
    float: right;
    clear: both;
    position: relative;
    top: -120px;
}

.articleParagraph {
    width: 50%;
}












/*best destinations */

#destination1{
    grid-area: destination1Tag;
    background-color: #8381ff;
}
#destination2{
    grid-area: destination2Tag;
    background-color: #90ff81;
}
#destination3{
    grid-area: destination3Tag;
    background-color: #ff8181;
}
#destination4{
    grid-area: destination4Tag;
    background-color: #e6ff08;
}
#destination5{
    grid-area: destination5Tag;
    background-color: #81fff5;
}
#destination6{
    grid-area: destination6Tag;
    background-color: #15ff00;
}
#asidebest{
    color: white;
    grid-area: asidebestTag;
    background-color: #0400ff;
    padding: 10px;
}
#asideimage1{
    position: relative;
    width: 500px;
    clear: both;
    padding: 2px;
}
#asideimage2{
    position: relative;
    width: 500px;
    clear: both;
    padding: 2px;
}
#asideimage3{
    position: relative;
    width: 500px;
    clear: both;
    padding: 2px;
}





