/* pc */
@media only screen and (min-width: 1280px) {	
	h1{
		background-color: #666666;
		color: white;
	}
	header > h2{
		background-color: #999999;
		color: white;
	}
	.flex-container{		
		margin: 10px;
		padding: 20px;
		float: left;
	}
	#article1{
		background-color: red;
	}
	#article2{
		background-color: yellow;
	}
	#article3{
		background-color:  #66ffff;
	}
	#aside{
		float: right;		
		background-color: #ff99c2;
		margin: 0 1.5%;
		width: 30%;
	}
	#navbar{
		background-color: #99b3ff;		
	}
	video{
		background-color: #ff9999;
		margin: 10px;
	}
}



/* mobile */
@media only screen and (max-width: 550px) {		/* Verrander deze naar de juiste mobiele maat!! En doe dat ook voor tablet! */
	
}



/* tablet */
@media only screen and (min-width: 551px) and (max-width: 1179px) {

}
