/* pc */
@media only screen and (min-width: 1280px) {	
	h1{
		background-color: #666666;
		color: white;
	}
	header > h2{
		background-color: #999999;
		color: white;
	}
	ul > li{		
		display: inline;
		padding: 8px;
		background-color: #9966ff;		
		text-decoration: none;
		margin: 30px;
		text-align: center;
	}
	ul{
		list-style-type: none;
		overflow: hidden;		
	}
	ul > img{
		margin: 10px;
	}
	#destination1{
		grid-area: destination1Tag;
		width: 500px;
		margin-bottom: 130px;
		background-color: #bf80ff;
		padding: 5px;
		position: relative;
		left: 650px;
		height: 500px;
	}
	#destination2{
		grid-area: destination2Tag;
		width: 500px;
		margin-bottom: 150px;
		background-color: #4dff4d;
		padding: 5px;
		position: relative;
		bottom: 650px;
	}
	#destination3{
		grid-area: destination3Tag;
		width: 500px;
		margin-bottom: 150px;
		background-color: #ffd633;
		padding: 5px;
		position: relative;
		bottom: 1010px;
		left: 65vw;
	}
	#destination4{
		grid-area: destination4Tag;
		width: 500px;
		margin-bottom: 150px;
		background-color: #ffd633;
		padding: 5px;
		position: relative;
		left: 65vw;
		bottom: 125vh;
	}
	#destination5{
		grid-area: destination5Tag;
		width: 500px;
		margin-bottom: 150px;
		background-color: #ffd633;
		padding: 5px;
		position: relative;
		bottom: 160vh;
	}
	#destination6{
		grid-area: destination6Tag;
		width: 900px;
		margin-bottom: 150px;
		background-color: #ffd633;
		padding: 5px;
		position: relative;
		bottom: 180vh;
		left: 850px;
	}
	#stelviofoto{
		position: absolute;
		width: 400px;
		left: 70vw;
	}
	#oostenrijkfoto{
		position: absolute;
		width: 400px;
		left: 35vw;
	}
	#strassefoto{
		position: absolute;
		width: 400px;
	}
	nav{
		background-color: #99b3ff;	
		grid-area: navTag;
	}
	header{
		grid-area: headerTag;
	}
	footer{
		grid-area: footerTag;
	}
	aside{
		grid-area: asideTag;
		position: absolute;	
		top: 1000px;
	}
	#footer{
		background-color: black;
		color: white;
		grid-area: footerTag;
		padding: 10px;
		text-align: left;
	}
	#coockie{
		color: #FFF;
		background-color: #FA0;
		opacity: 0.5;
		grid-area: coockieTag;
		text-align: center;
	}
	#info{
		grid-area: infoTag;
	}
	#grid-container {
    background-color: #f8f;
    border: solid 10px #f0f;
    padding: 5px;

    display: grid;
    grid-gap: 5px;

    grid-template-areas:
    'navTag      navTag      navTag      navTag      navTag      navTag'
    'headerTag   headerTag   headerTag   headerTag   headerTag   headerTag'	
	'infoTag 	infoTag    infoTag     	infoTag 	infoTag 		infoTag'
    'footerTag   footerTag   footerTag   footerTag   coockieTag  coockieTag';
	}	
}



/* mobile */
@media only screen and (max-width: 550px) {		/* Verrander deze naar de juiste mobiele maat!! En doe dat ook voor tablet! */
	
}



/* tablet */
@media only screen and (min-width: 551px) and (max-width: 1179px) {

}
